* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hed1 {
    height: 45px;
    background-color: #017ABC;
    color: white;
}

.hedcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.hed1c {
    display: flex;
}

.hed1c * {
    margin: 10px;
}

.hed1c2s1 {
    padding-right: 10px;
    border-right: solid rgba(255, 255, 255, 0.596) 1px;
}