* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    --font-color: rgb(131, 131, 131);
    --border-color: rgb(212, 212, 212);
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    display: block;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    background-color: var(--border-color);
    border: none;
    height: 1px;
}

.container {
    display: grid;
    min-height: 100%;
    width: 100%;
    grid-template-rows: 1.2fr 12fr 1fr 1fr;

}

.header {
    display: flex;
    flex-direction: row-reverse;
}

.head1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20%;
}

.head1 a {
    font-size: 14px;
}

.head1 .img {
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head1 .img:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

.head1 img {
    max-width: 80%;
    border-radius: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7% 0;
}

.penelusuran {
    display: flex;
    align-items: center;
    width: 40%;
    height: 40px;
    padding: 0 1%;
    margin: 25px 0;
    border: 1px solid var(--border-color);
    border-radius: 20px;
}

.penelusuran:hover {
    box-shadow: 0px 1px 3px 1px rgb(212, 212, 212);
    cursor: text;
}

.blwsrh {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.blwsrh a {
    margin: 0 20px;
}

.blwsrh a:hover {
    text-decoration: none;

}

.blwsrh div {
    padding: 10px;
    margin: 2px 2px 3px;
    background-color: whitesmoke;
    border-radius: 8px;
    color: rgb(75, 75, 75);
}

.blwsrh div:hover {
    border: 2px solid rgb(212, 212, 212);
    border-bottom: 3px solid rgb(212, 212, 212);
    margin: 0;
}

.lst {
    font-size: 14px;
}

.lst a {
    display: inline-block;
    margin: 0 3px;
    color: blue;
}

.footer {
    background-color: whitesmoke;
    color: var(--font-color);
}

.footer a {
    font-size: 14px;
    color: var(--font-color);
}

.fa {
    display: flex;
    align-items: center;
    padding: 0 3%;
}

.fab {
    display: flex;
    flex-direction: column;
}

.fb {
    height: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fba {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fb1 {
    min-width: 30%;
}

.fb2 {
    min-width: 18%;
}